.restaurent {
  border: #cccccc 1px solid;
  height: 300px;
}
.restaurent>div {
  height: 220px;
}
.misc-items {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.restaurent-image{
  width: inherit;
  height: -webkit-fill-available;
}
.ratings {
  border: green solid;
  background-color: #018801;
  color: white;
}
.restaurent-desc small {
  display: inline-block;
  width: -webkit-fill-available;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
